.iframeWrap {
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
  }
  
  .iframeWrap iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .postImageCaption {
    color: var(--secondary);
    text-align: center;
    font-style: italic;
    font-size: 14px;
  }
  
  .postImageFull {
    margin: 20px 0 0;
    max-width: initial;
    width: 70vw;
  }
  
  @media (min-width: 760px) {
    .postImageFull {
      margin-left: calc(-1 * (70vw - 760px) / 2);
    }
  }
  
  @media (max-width: 1024px) {
    .postImageFull {
      margin-left: 0;
    }
  }
  
  .sideBySide {
    display: flex;
    width: 90vw;
    margin: 40px 0;
    flex-direction: row;
  }
  
  @media (min-width: 760px) {
    .sideBySide {
      margin-left: calc(-1 * (90vw - 760px) / 2);
    }
  }
  
  @media (max-width: 1024px) {
    .sideBySide {
      margin-left: 0;
      flex-direction: column;
    }
  }
  
  .sideBySideImg {
    min-width: 50%;
  }
  
  @media (min-width: 760px) {
    .sideBySideImg {
      min-width: 100%;
    }
  }
  
  @media (max-width: 1024px) {
    .sideBySideImg {
      margin-left: 0;
    }
  }
  
  .sideBySideCaption {
    color: var(--secondary);
    text-align: center;
    font-style: italic;
    font-size: 14px;
    margin-top: -30px;
  }